:8080 {
  encode zstd gzip

  @dsh_admin host allrice-dsh.bplabs.xyz allrice-dsh.traditionow.ai
  handle @dsh_admin {
    reverse_proxy dsh-admin:3081
  }

  handle {
    reverse_proxy web:3000
  }
}
